*{
    box-sizing: border-box;
}
body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  text-align: center;
}

input {
  background-color: rgb(36, 35, 35);
  border-radius: 10px;
  width: 60%;
  height: 35px;
  border: none;
}

::placeholder {
  color: white;
  padding-left: 10px;
}

.button {
  text-align: center;
  height: 30px;
  margin-top: 20px;
}

button {
  margin-left: 20px;
  border-radius: 30px;
  height: 30px;
  width: 140px;
  background-color: black;
  color: white;
  border-color: white;
}

.container{
    height: 85vh;
    padding-top: 150px;
}

.terms-condition {
  color: white;
  text-align: center;
}

a{
    color: white;
}
